Language: Cpp
AccessModifierOffset: -3
AlignAfterOpenBracket: DontAlign
AlignEscapedNewlines: Right
AlignOperands: false
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakAfterReturnType: All
AlwaysBreakTemplateDeclarations: true
BinPackArguments : true
BinPackParameters : true
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false # conflicts with CompactNamespaces
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakConstructorInitializers : BeforeComma
BreakInheritanceList: BeforeComma # this only works if the inheritance list is too long for the line
BreakStringLiterals: true
ColumnLimit: 100
CompactNamespaces : true
ConstructorInitializerIndentWidth : 3
ContinuationIndentWidth: 3
FixNamespaceComments : false
ForEachMacros: ['BOOST_FOREACH']
IncludeBlocks: Merge
IncludeCategories:
  - Regex:           '<([a-z_]+\.h|c[^h_]+|arpa/.*|net/.*|netinet/.*|sys/.*)>' # match OS/C headers
    Priority:        2
  - Regex:           '<[a-z_]+>'       # match all C++ headers
    Priority:        1
  - Regex:           '<.*>'            # match third party libraries
    Priority:        3
  - Regex:           '"_[a-zA-Z_]+.h"' # match current project details
    Priority:        6
  - Regex:           '"[a-zA-Z_]+.h"'  # match current project
    Priority:        5
  - Regex:           '".*"'            # match other projects
    Priority:        4
IndentCaseLabels: true
IndentPPDirectives : None
#IndentPPDirectives : AfterHash # doesn't work great with include guards
IndentWidth: 3
MaxEmptyLinesToKeep : 1
NamespaceIndentation : Inner
PointerAlignment: Middle
ReflowComments : true
SortIncludes: true
SortUsingDeclarations : true
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators : true
SpaceBeforeCpp11BracedList: false
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeParens : ControlStatements
SpaceInEmptyParentheses : false
SpacesInAngles : false
SpacesInCStyleCastParentheses : false
SpacesInContainerLiterals: false
SpacesInParentheses : false
SpacesInSquareBrackets : false
Standard : Cpp11
TabWidth : 3
UseTab : Never
 
---
 
Language: Proto
# Don't format .proto files.
DisableFormat: true
